body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #f2f2f2;
  }
  
  .chat-container {
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: auto;
  }

  .chat-header {
    padding: 10px;
    background-color: #ae00ff;
    color: #fff;
    font-weight: bold;
    text-align: left;
  }
  
  .chat-messages {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: scroll;
  }

  .chat-messages .message .message-content.from-agent {
    background-color: #ccc;
    color: #000;
    align-self: flex-start;
    text-align: left;
  }
  
  .chat-messages .message .message-content.from-user {
    background-color: #ae00ff;
    color: #fff;
    align-self: flex-end;
    text-align: right;

  }
  
  .message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .message-content {
    display: inline-block;
    background-color: #ae00ff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.5;
    max-width: 80%;
  }
  
  .message.from-agent .message-content {
    background-color: #ccc;
    color: #000;
  }
  
  .chat-messages .message .author {
    font-weight: bold;
    margin-right: 15px; 
    justify-content: space-between;
    text-align: left; 
  }

  .chat-messages .message .authoruser{
    font-weight: bold;
    margin-left: 15px; 
    justify-content: space-between;
    text-align: right; 
  }
  
  .message .time {
    font-size: 12px;
    color: #aaa;
    margin-left: 10px;
    justify-content: space-between;
  }
  
  .chat-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f2f2f2;
  }
  
  .chat-input input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
  }
  
  .chat-input button {
    background-color: #ae00ff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    cursor: pointer;
  }
  
  .chat-input button:hover {
    background-color: #ae00ff;
  }
  
  .chat-input button:active {
    background-color: #ae00ff;
  }
  
  html{
    overflow-x:hidden;
  }

  footer {
    color: #ae00ff;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  